@import "tailwindcss";

@font-face {
	font-family: davinci;
	font-style: normal;
	font-weight: 200 700;
	font-display: swap;
	src: url("./fonts/P22 Da Vinci Forward Regular.woff2") format("woff2");
}

@theme {
	--font-davinci: "davinci", sans-serif;
}

:root {
	background-color: rgb(175, 175, 175);
	padding: 0;
	margin: 0;
}